[Desktop Entry]
Type=Application
Name=Neovim (Terminal)
Comment=Neovim
GenericName=Neovim
Exec=/usr/local/bin/nvim-launcher %F
Icon=nvim
MimeType=text/plain;
Categories=Utility;TextEditor;
Terminal=false
