* {
  font-family: "DejaVuSansMono Nerd Font", monospace;
  font-size: 16px;
  padding: 1px 4px;
}

window#waybar {
  color: #cdd6f4;
  background-color: #151826;

  border-bottom: 1px solid black;
}

#workspaces {
  font-weight: bold;
}

#workspaces button,
#workspaces button:hover {
  padding: 0 4px;
  margin: 0;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button {
  color: #cdd6f4;
}

#workspaces button.active,
#workspaces button:hover{
  color: #E95F2C;
}
