window#waybar {
  color: #2E4036;
  background-color: rgba(85,115,98, 0.8);
  border-bottom: 1px solid #2E4036;
}

#cpu, #network {
  font-size: 20px;
}

#backlight, #power-profiles-daemon {
  font-size: 18px;
}

#workspaces {
  font-weight: bold;
  text-shadow: 0px 0px 3px black;
}

#workspaces button:hover {
  border: 0 solid #BF414C;
  background: transparent;
}

#workspaces button.active {
  color: #BF414C;
}
