window#waybar {
  color: #2E4036;
  background-color: rgba(85,115,98, 0.8);
  border-bottom: 1px solid #2E4036;
}

#workspaces {
  font-weight: bold;
}

#workspaces button:hover {
  border: 0 solid #BF414C;
}

#workspaces button.active {
  color: #BF414C;
}
